.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

pre {
  padding: 10px;
  overflow: auto;
  line-height: 1.45;
  background-color: #ecf1f5;
  border-radius: 6px;
}

.btn-primary:hover {
  background-color: rgb(21, 19, 48) !important;
}

.pane.pane-top {
  background-color: rgb(42 40 62);
  padding: 20px 20px 0px 20px;
  justify-content: center !important;
}

.editor-lang {
  padding: 5px !important;
}

.editor-text {
  text-align: center;
  background-color: rgb(29, 27, 54);
  color: rgba(250, 230, 194, 0.972);
  font-size: 1.2em;
  line-height: 2;
  justify-content: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.editor-container {
  display: flex;
  align-items: flex-start;
}

.line-numbers {
  padding: 10px;
  background-color: rgb(12, 11, 22) !important;
  text-align: right;
  color: #fff;
  opacity: 0.6 !important;
  height: 300px;
  line-height: 1.5;
  overflow: hidden;
  border-right: 1px solid rgb(59, 58, 66);
  border-bottom-left-radius: 8px;
}

.line-numbers div {
  line-height: 1.5;
}

.editor-textarea {
  width: 100%;
  height: 300px;
  font-family: monospace;
  font-size: 14px;
  padding: 10px;
  background-color: rgb(12, 11, 22) !important;
  opacity: 0.6 !important;
  border: 0;
  color: #fff;
  resize: none;
  outline: 0;
  line-height: 1.5;
  border-bottom-right-radius: 8px;
  overflow: auto;
}

.cm-s-material.CodeMirror {
  background-color: rgb(12, 11, 22) !important;
  opacity: 0.6 !important;
}

.cm-s-material .CodeMirror-gutters {
  background-color: rgb(12, 11, 22) !important;
  opacity: 0.6 !important;
}

.output-pane {
  left: 0;
  border: 0px solid;
  position: absolute;
  height: 50%;
  width: 100%;
  background-color: white;
  padding-bottom: 20px;
}

.footer {
  background-color: rgb(29, 27, 54) !important;
  position: fixed;
  bottom: 0;
  height: 36px;
  color: rgb(246, 225, 188);
  text-align: center;
  line-height: 2.5;
  justify-content: center !important;
}

@media (max-width: 768px) {
  .footer {
    display: none;
  }
}